
/* ----------------Footer--------------- */

.footer {
    background-color: #000;
    padding: 77px 0 76px;

}
.credits_item {
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #fff;
}
.credits_item:not(:last-child){
    margin-right: 62px;
}
.credits_item span {
    color: #FFDE00;
}.credits_item_black {
    font-weight: 900;
}